/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers
#define DEFAULT    0       // default_layer
#define LOWER      1       // lower_layer
#define RAISE      2       // raise_layer

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <300>;
};

/ {
        combos {
               compatible = "zmk,combos";
               combo_enter {
                           timeout-ms = <50>;
                           key-positions = <31 32>;
                           bindings = <&kp ENTER>;
               };
        };
};

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                           &kp N6       &kp N7      &kp N8     &kp N9     &kp N0     &none
&kp ESC  &kp Q      &kp W      &kp E      &kp R      &kp T                            &mt LC(Y) Y  &kp U       &kp I      &kp O      &kp P      &kp BSLH
&kp TAB  &mt LGUI A  &mt LALT S &mt LCTRL D &mt LSHIFT F      &kp G                   &kp H        &mt RSHIFT J &mt RCTRL K &mt RALT L &mt RGUI SEMI &kp SQT
&none  &mt LC(Z) Z      &mt LC(X) X      &mt LC(C) C      &mt LC(V) V  &kp B        &kp N        &kp M      &kp COMMA  &kp DOT    &kp FSLH   &none
                   &none   &lt RAISE ESC  &kp BSPC  &lt LOWER DEL &none    &none   &lt RAISE ENTER  &kp SPACE  &lt LOWER TAB   &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            bindings = <
&trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5                           &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
&bt BT_CLR &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4         &kp PG_UP  &kp HOME   &kp UP     &kp END    &kp BSLH     &kp F12
&trans     &trans     &trans     &trans     &trans     &kp CAPS                           &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &kp SQT     &trans
&trans     &trans     &trans     &trans     &trans     &trans                           &trans     &trans     &trans     &trans     &trans     &trans
                      &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            bindings = <
&trans    &trans      &trans     &trans     &trans     &trans                            &trans        &trans        &trans        &trans       &trans        &trans
&trans    &kp GRAVE   &kp LBRC   &kp RBRC   &kp PIPE   &kp BSLH                          &trans        &kp N7        &kp N8        &kp N9       &trans        &trans
&trans    &kp TILDE   &kp LPAR   &kp RPAR   &kp MINUS  &kp EQUAL                         &trans        &kp N4        &kp N5        &kp N6       &trans        &trans
&trans    &trans      &kp LBKT   &kp RBKT   &kp UNDER  &kp PLUS                          &kp N0        &kp N1        &kp N2        &kp N3       &trans        &trans
                      &trans     &trans     &trans     &trans     &trans     &trans     &trans        &trans        &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

    };
};