# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_LEELOO
    bool

config SHIELD_LEELOO_CENTRAL_DONGLE
    def_bool $(shields_list_contains,leeloo_central_dongle)

config SHIELD_LEELOO_CENTRAL_LEFT
    def_bool $(shields_list_contains,leeloo_central_left)

config SHIELD_LEELOO_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,leeloo_peripheral_left)

config SHIELD_LEELOO_PERIPHERAL_RIGHT
    def_bool $(shields_list_contains,leeloo_peripheral_right)
